In [1]:
import pandas as pd
import sqlite3

In [2]:
!ls zippedData

bom.movie_gross.csv.gz
im.db
im.db.zip
im2.db
rt.movie_info.tsv.gz
rt.reviews.tsv.gz
tmdb.movies.csv.gz
tn.movie_budgets.csv.gz

In [3]:
bom = pd.read_csv('zippedData/bom.movie_gross.csv.gz')
tmdb = pd.read_csv('zippedData/tmdb.movies.csv.gz')
tn = pd.read_csv('zippedData/tn.movie_budgets.csv.gz')

In [4]:
pd.set_option('display.max_columns', None)

In [5]:
conn = sqlite3.connect("zippedData/im2.db")

In [6]:
pd.read_sql("SELECT * FROM movie_basics", conn).head()

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

# Box Office Mojo

In [7]:
bom.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [8]:
bom.isna().sum()

title                0
studio               5
domestic_gross      28
foreign_gross     1350
year                 0
dtype: int64

In [9]:
bom_copy = bom.copy()

- Since this is Microsoft, we would want movies to reach everyone, so dropping null values gives us movies that are available to everyone. This gives us usefull data to use.

In [10]:
bom_clean = bom_copy.dropna()

In [11]:
print(bom_clean.shape, bom.shape)

(2007, 5) (3387, 5)

In [12]:
bom_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2007 entries, 0 to 3353
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           2007 non-null   object
 1   studio          2007 non-null   object
 2   domestic_gross  2007 non-null   float64
 3   foreign_gross   2007 non-null   object
 4   year            2007 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 94.1+ KB

- straigth foward information

# The Movie Database

In [13]:
tmdb.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [14]:
tmdb.isna().sum()

Unnamed: 0           0
genre_ids            0
id                   0
original_language    0
original_title       0
popularity           0
release_date         0
title                0
vote_average         0
vote_count           0
dtype: int64

- popularity would be the 'clicks'/interactions the movie has on the site
- vote_average is out of 10
- vote_count how many poeple voted

In [15]:
tmdb.shape

(26517, 10)

In [16]:
tmdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         26517 non-null  int64
 1   genre_ids          26517 non-null  object
 2   id                 26517 non-null  int64
 3   original_language  26517 non-null  object
 4   original_title     26517 non-null  object
 5   popularity         26517 non-null  float64
 6   release_date       26517 non-null  object
 7   title              26517 non-null  object
 8   vote_average       26517 non-null  float64
 9   vote_count         26517 non-null  int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB

# The Numbers

In [17]:
tn.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

- straigth foward information

In [18]:
tn.isna().sum()

id                   0
release_date         0
movie                0
production_budget    0
domestic_gross       0
worldwide_gross      0
dtype: int64

# Merge TMDB and BOM

- Give us information about studio and gives us numbers to work with

In [19]:
movies_df = bom_clean.merge(tmdb, on='title', how='inner')

In [20]:
movies_df.head()

,title,studio,domestic_gross,foreign_gross,year,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,vote_average,vote_count
0,Toy Story 3,BV,415000000.0,652000000,2010,7,"[16, 10751, 35]",10193,en,Toy Story 3,24.445,2010-06-17,7.7,8340
1,Inception,WB,292600000.0,535700000,2010,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,8.3,22186
2,Shrek Forever After,P/DW,238700000.0,513900000,2010,38,"[35, 12, 14, 16, 10751]",10192,en,Shrek Forever After,15.041,2010-05-16,6.1,3843
3,The Twilight Saga: Eclipse,Sum.,300500000.0,398000000,2010,15,"[12, 14, 18, 10749]",24021,en,The Twilight Saga: Eclipse,20.340,2010-06-23,6.0,4909
4,Iron Man 2,Par.,312400000.0,311500000,2010,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,6.8,12368

# IMDB

In [21]:
query1 = """

SELECT DISTINCT *
FROM movie_basics AS mb
    JOIN movie_ratings AS mr
        ON mb.movie_id = mr.movie_id
    JOIN directors AS d
        ON mb.movie_id = d.movie_id
    JOIN persons AS p
        ON d.person_id = p.person_id
ORDER BY numvotes DESC
LIMIT 10;
"""
pd.read_sql(query1, conn)

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,movie_id,averagerating,numvotes,movie_id,person_id,person_id,primary_name,birth_year,death_year,primary_profession
0,tt1375666,Inception,Inception,2010,148.0,"Action,Adventure,Sci-Fi",tt1375666,8.8,1841066,tt1375666,nm0634240,nm0634240,Christopher Nolan,1970.0,None,"writer,producer,director"
1,tt1345836,The Dark Knight Rises,The Dark Knight Rises,2012,164.0,"Action,Thriller",tt1345836,8.4,1387769,tt1345836,nm0634240,nm0634240,Christopher Nolan,1970.0,None,"writer,producer,director"
2,tt0816692,Interstellar,Interstellar,2014,169.0,"Adventure,Drama,Sci-Fi",tt0816692,8.6,1299334,tt0816692,nm0634240,nm0634240,Christopher Nolan,1970.0,None,"writer,producer,director"
3,tt1853728,Django Unchained,Django Unchained,2012,165.0,"Drama,Western",tt1853728,8.4,1211405,tt1853728,nm0000233,nm0000233,Quentin Tarantino,1963.0,None,"writer,actor,producer"
4,tt0848228,The Avengers,The Avengers,2012,143.0,"Action,Adventure,Sci-Fi",tt0848228,8.1,1183655,tt0848228,nm0923736,nm0923736,Joss Whedon,1964.0,None,"writer,producer,director"
5,tt0993846,The Wolf of Wall Street,The Wolf of Wall Street,2013,180.0,"Biography,Crime,Drama",tt0993846,8.2,1035358,tt0993846,nm0000217,nm0000217,Martin Scorsese,1942.0,None,"producer,director,actor"
6,tt1130884,Shutter Island,Shutter Island,2010,138.0,"Mystery,Thriller",tt1130884,8.1,1005960,tt1130884,nm0000217,nm0000217,Martin Scorsese,1942.0,None,"producer,director,actor"
7,tt2015381,Guardians of the Galaxy,Guardians of the Galaxy,2014,121.0,"Action,Adventure,Comedy",tt2015381,8.1,948394,tt2015381,nm0348181,nm0348181,James Gunn,1966.0,None,"writer,producer,director"
8,tt1431045,Deadpool,Deadpool,2016,108.0,"Action,Adventure,Comedy",tt1431045,8.0,820847,tt1431045,nm1783265,nm1783265,Tim Miller,NaN,None,"director,writer,visual_effects"
9,tt1392170,The Hunger Games,The Hunger Games,2012,142.0,"Action,Adventure,Sci-Fi",tt1392170,7.2,795227,tt1392170,nm0002657,nm0002657,Gary Ross,1956.0,None,"writer,producer,director"

# Adding Production Cost to movies_df

In [31]:
movies_df.shape

(1701, 14)

In [25]:
imdb_df = pd.read_csv('imdbCSV.csv')

In [30]:
imdb_df.shape

(86030, 17)

In [58]:
prod_df = movies_df.merge(tn, left_on='title', right_on='movie')

In [62]:
prod_df.to_csv('movie_info')